<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>${text}
    <br>
    <a href="${activationUrl}">${activationUrl}</a>
</p>
</body>
</html>